body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
}

header h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  letter-spacing: 3px;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 30px;
}

main h2 {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700px;
  font-size: 25px;
  line-height: 1.5px;
}

main h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  line-height: 1;
}

main h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  margin: 0;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/ft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
}
footer ul {
  padding: 0;
}
section {
  max-width: 100%;
  margin: 0px auto;
  padding: 100px;
}

section.secondary {
  background-color: rgb(218, 218, 218);
  padding: 50px;
}
section.grid.grid-3-columns {
  padding: 0;
}

.secondary-content {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  grid-gap: 30px;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.card {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 20px;
}

.btn {
  display: block;
  color: white;
  padding: 15px;
  background-color: #9f9f9f;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #616161;
}

.embeded {
  width: 100%;
  aspect-ratio: 1/1;
}
bloquote {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 32px;
  }

  header h3 {
    font-size: 18px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px 0;
    text-align: center;
  }

  h3.title {
    font-size: 18px;
  }

  section h3 {
    font-size: 24px;
  }

  .responsive-like {
    display: none;
  }
}
